#main {
  margin-left: 15%;
}

#navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  width: 15%;
  height: 100vh;
  z-index: 10;
  background-color: grey;
}

.nav-list {
  list-style: none;
  font-size: 1.5em;
  line-height: 1.5em;
}

h2 {
  margin-left: 2em;
}

.video-thumbnail {
  width: 400px;
  background-color: black;
  margin: 30px;
}

#subscriptions-thumbnails, #liked-thumbnails {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

a:link {
  text-decoration: none;
}